<!DOCTYPE html>
<html lang="en-US"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=10">
    <meta charset="UTF-8">
    <title>请求出错</title>
     <link href="__PUBLIC__/Admin/404CSS/cmstop-error.css" rel="stylesheet" />
</head>
<body class="body-bg">
<div class="main">
    <p class="title">非常抱歉，您不能直接访问网站地址</p>
    <a href="javascript:gologin()" class="btn">返回登录页面</a>
</div>
</body></html>
<script>
 function gologin(){
	 window.location.href="/Admin/Login/index.html";
 }
</script>