<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="../Styles/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../Styles/admin-all.css" />
    <script type="text/javascript" src="../Scripts/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="../Scripts/jquery-ui-1.8.22.custom.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../Styles/ui-lightness/jquery-ui-1.8.22.custom.css" />
    <script type="text/javascript">
        $(function () {
            var _this = $('.list').find('thead');
            //折叠
            _this.click(function () {
                var i = $(this).find('i');
                if (i.attr('class') == 'tip-down') { i.attr('class', 'tip-up') } else { i.attr('class', 'tip-down') }
                $(this).parent().find('tbody').toggle();
            })
            //添加
            var _html = '<tr>' + _this.parent().find('.demo').html() + '</tr>';
            $('.add').click(function () {
                $(this).parents('.list').find('tbody').append(_html);

            })
            //删除
            $('.del').live('click', function () {
                var _tr = $(this).parents('tr');
                // alert(_tr.attr('class'))
                if (_tr.attr('class') != "demo") {
                    if (confirm("你确定要干掉这条数据吗？")) { _tr.remove(); }
                }
            })
        })
    </script>
</head>
<body>
    <div class="alert alert-info">当前位置<b class="tip"></b>表单风格<b class="tip"></b>折叠表单</div>

    <table class="table table-striped table-bordered table-condensed list">
        <thead>
            <tr>
                <td colspan="6">外部付款 <i class="tip-up"></i></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>单据号 </td>
                <td>报销人部门 </td>
                <td>报销人 </td>
                <td>申请金额 </td>
                <td>审核金额  </td>
                <td>&nbsp;操作</td>
            </tr>
            <tr class="demo">
                <td>
                    <input type="text" size="5" /></td>
                <td>
                    <input type="text" size="5" /></td>
                <td>
                    <input type="text" size="5" /></td>
                <td>
                    <input type="text" size="5" /></td>
                <td>
                    <input type="text" size="5" /></td>
                <td>
                    <button class="btn btn-mini btn-danger del">删除</button></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6"><a class="btn btn-mini btn-primary add">添加</a></td>
            </tr>
        </tfoot>
    </table>
    <table class="table table-striped table-bordered table-condensed list">
        <thead>
            <tr>
                <td colspan="6">外部付款 <i class="tip-up"></i></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>单据号 </td>
                <td>报销人部门 </td>
                <td>报销人 </td>
                <td>申请金额 </td>
                <td>审核金额  </td>
                <td>&nbsp;操作</td>
            </tr>
            <tr class="demo">
                <td>
                    <input type="text" size="5" /></td>
                <td>
                    <input type="text" size="5" /></td>
                <td>
                    <input type="text" size="5" /></td>
                <td>
                    <input type="text" size="5" /></td>
                <td>
                    <input type="text" size="5" /></td>
                <td><a class="btn btn-mini btn-danger del">删除</a></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6"><a class="btn btn-mini btn-primary add">添加</a></td>
            </tr>
        </tfoot>
    </table>
    <table class="table table-striped table-bordered table-condensed list">
        <thead>
            <tr>
                <td colspan="6">外部付款 <i class="tip-up"></i></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>单据号 </td>
                <td>报销人部门 </td>
                <td>报销人 </td>
                <td>申请金额 </td>
                <td>审核金额  </td>
                <td>&nbsp;操作</td>
            </tr>
            <tr class="demo">
                <td>
                    <input type="text" size="5" /></td>
                <td>
                    <input type="text" size="5" /></td>
                <td>
                    <input type="text" size="5" /></td>
                <td>
                    <input type="text" size="5" /></td>
                <td>
                    <input type="text" size="5" /></td>
                <td><a class="btn btn-mini btn-danger del">删除</a></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6"><a class="btn btn-mini btn-primary add">添加</a></td>
            </tr>
        </tfoot>
    </table>
    <table class="table table-striped table-bordered table-condensed list">
        <thead>
            <tr>
                <td colspan="6">外部付款 <i class="tip-up"></i></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>单据号 </td>
                <td>报销人部门 </td>
                <td>报销人 </td>
                <td>申请金额 </td>
                <td>审核金额  </td>
                <td>&nbsp;操作</td>
            </tr>
            <tr class="demo">
                <td>
                    <input type="text" size="5" /></td>
                <td>
                    <input type="text" size="5" /></td>
                <td>
                    <input type="text" size="5" /></td>
                <td>
                    <input type="text" size="5" /></td>
                <td>
                    <input type="text" size="5" /></td>
                <td><a class="btn btn-mini btn-danger del">删除</a></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6"><a class="btn btn-mini btn-primary add">添加</a></td>
            </tr>
        </tfoot>
    </table>
</body>
</html>
