<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="../Styles/formui.css" />
    <link rel="stylesheet" type="text/css" href="../Styles/admin-all.css" />
  </head>
<body>
    <table class="tb" id="list">
        <thead>
            <tr >
                <td>单据号 </td>
                <td>报销人部门</td>
                <td>报销人</td>
                <td>申请金额</td>
                <td>审核金额 </td>
                <td>所属项目 </td>
                <td>申请人 </td>
                <td>提交日期 </td>
                <td>单据类型 </td>
                <td>审批状态 </td>
                <td>摘要 </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a>HS301-2005000020 </a></td>
                <td>现金</td>
                <td>票据 </td>
                <td>负责人 </td>
                <td>3009.40</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>产品国内差旅费单据 </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="even">
                <td><a>HS301-2005000020 </a></td>
                <td>现金</td>
                <td>票据 </td>
                <td>负责人 </td>
                <td>0.00</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>产品国内差旅费单据 </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td><a>HS301-2005000020 </a></td>
                <td>CDMA-国内市场部 </td>
                <td>现金 </td>
                <td>负责人 </td>
                <td>0.00</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="even">
                <td><a>HS301-2005000020 </a></td>
                <td>银行承兑汇票</td>
                <td>谭晓松 </td>
                <td>负责人 </td>
                <td>0.00</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td><a>HS301-2005000020 </a></td>
                <td>银行存款</td>
                <td>谭晓松 </td>
                <td>任务成员 </td>
                <td>0.00</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="even">
                <td><a>HS301-2005000020 </a></td>
                <td>1209NewPro</td>
                <td>谭晓松 </td>
                <td>任务成员 </td>
                <td>0.00</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td><a>HS301-2005000020 </a></td>
                <td>testqzw</td>
                <td>谭晓松 </td>
                <td>负责人 </td>
                <td>0.00</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="even">
                <td><a>HS301-2005000020 </a></td>
                <td>银行存款</td>
                <td>执行中 </td>
                <td>负责人 </td>
                <td>0.00</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td><a>HS301-2005000020 </a></td>
                <td>testqzw</td>
                <td>指派中 </td>
                <td></td>
                <td>0.00</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="even">
                <td><a>HS301-2005000020 </a></td>
                <td>银行承兑汇票</td>
                <td>谭晓松 </td>
                <td>负责人 </td>
                <td>0.00</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td><a>HS301-2005000020 </a></td>
                <td>银行承兑汇票</td>
                <td>谭晓松 </td>
                <td>负责人 </td>
                <td>0.00</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>产品国内差旅费单据 </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="even">
                <td><a>HS301-2005000020 </a></td>
                <td>银行承兑汇票</td>
                <td>上级取消 </td>
                <td>负责人 </td>
                <td>0.00</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td><a>HS301-2005000020 </a></td>
                <td>银行承兑汇票</td>
                <td>谭晓松 </td>
                <td>负责人 </td>
                <td>0.00</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="even">
                <td><a>HS301-2005000020 </a></td>
                <td>银行承兑汇票</td>
                <td>执行中 </td>
                <td>负责人 </td>
                <td>0.00</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td><a>HS301-2005000020 </a></td>
                <td>测试产品项目p</td>
                <td>上级取消 </td>
                <td>负责人 </td>
                <td>0.00</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="tr_pagenumber">
                <td colspan="100">当前第5页/共55页&nbsp;&nbsp;共650条记录&nbsp;&nbsp;<a class="badge badge-inverse">首页</a>&nbsp;<a class="badge badge-inverse">下一页</a>&nbsp;
                    <a class="badge badge-inverse">1</a>&nbsp;<a class="badge badge-inverse">2</a>&nbsp;<a class="badge badge-inverse">3</a>&nbsp;<a class="badge badge-inverse">4</a>&nbsp;
                    <a class="badge badge-warning">5</a>&nbsp;<a class="badge badge-inverse">...</a>&nbsp;<a class="badge badge-inverse">55</a>&nbsp;<a class="badge badge-inverse">上一页</a>&nbsp;<a class="badge badge-inverse">尾页</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
